body{
    margin: 2% 7%;
    background-color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    text-align: left;
    background: url('./images/bg-pattern-bottom-desktop.svg') right top 13vh no-repeat, 
    url('./images/bg-pattern-top-desktop.svg') left -8vw top no-repeat;
}
.top-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}
.social-info{
    min-width: 350px;
    width: 45%;
}
.social-info-heading{
    margin: 0.75rem 0;
    font-weight: 700;
    font-size: 3rem;
    color: hsl(300, 43%, 22%);
}
.social-info-description{
    margin: 0.75rem 0;
    color: hsl(303, 10%, 53%);
}
.ratings{
    display: flex;
    flex-direction: column;
}
.review{
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    min-width: 333px;
    width: 86%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.review > p{
    margin: 0.5rem;
}
.comments-section{
    display: flex;
    color: hsl(300, 24%, 96%)
}
.customer{
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem 0;
    max-height: 191px;
}
.profile-photo{
    border-radius: 50%;
    width: 70%;
}
.name{
    font-weight: 400;
}
.comment{
    font-size: 14px;
}
.buyer-type{
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}
@media only screen and (max-width: 1250px){
    .top-section{
        flex-direction: column;
        text-align: center;
    }
    .comments-section{
        flex-direction: column;
    }
    .review{
        flex-direction: column;
    }
    body{
        background: url('./images/bg-pattern-top-mobile.svg') left top no-repeat, 
        url('./images/bg-pattern-bottom-mobile.svg') right bottom no-repeat;
    }
}
@media only screen and (min-width: 1250px){
    .ratings{
        margin-left: 4rem;
    }
    .review:nth-child(2){
        margin: 0.75rem 0 0.75rem 3.75rem;
    }
    .review:nth-child(3){
        margin: 0.75rem 0rem 0.75rem 6.75rem;
    }
    .customer:nth-child(1){
        margin: 1rem 0.5rem 1rem 0;
    }    
    .customer:nth-child(2){
        margin: 2.5rem 0.5rem;
    }
    .customer:nth-child(3){
        margin: 4.5rem 0rem 4.5rem 0.5rem;
    }
}